/* NavigationBar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Adjust padding as needed */
  background-color: #1b1b1b; /* Set background color */
  color: white;
}

.logo {
  font-size: 24px; /* Adjust font size as needed */
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px; /* Adjust spacing between links */
}

.profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

a {
  color: rgb(73, 127, 215);
}
