/* CSS for VocabPage component */

.vocab-page-container {
  display: flex;
  flex-direction: row;
}

.vocab-page-nav-panel-container {
  width: 10%;
}

.vocab-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2e2e2e; /* Background color */
  border-radius: 5px; /* Rounded corners */
  padding: 10px; /* Padding inside the box */
  margin: 10px; /* Margin outside the box */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Box shadow for a subtle lift */
}

.vocab-menu-container .vocab-nav-link {
  padding: 5%;
}

.vocab-page-main-section {
  width: 90%; /* Adjust the width for the main section */
}
