@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Syne+Mono&display=swap");


*{
  font-family: 'Courier New', Courier, monospace;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(6, 22, 41);
  /* background-color: rgb(0, 0, 0); */
  color: whitesmoke;
  font-size: 1.3rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: rgb(73, 127, 215);
  text-decoration: none;
}

/* ------------------------ LANDING PAGE ---------------------  */
.landing-page {
  padding: 1% 2%;
  height: 100vh;
}

.landing-page h1 {
  font-size: 3.25rem;
}

.landing-page h1:hover {
  cursor: pointer;
}

.landing-page header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.call-to-action {
  margin: 2%;
  max-width: 50%;
}

.section-1 {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

/* ------------------------ LOGIN AND REGISTER PAGE ------------------------ */

.auth-site-title {
  padding: 1%;
  cursor: pointer;
  width: max-content;
}

/* ------------------------ LOGIN AND REGISTER AUTH FORMS ------------------------ */
.auth-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2%;
  cursor: pointer;
  font-size: 2.5rem;
}

.auth-form-container {
  width: 450px;
  background: rgba(0, 0, 0, 0.2);
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 60px 65px;
}

.auth-form-wrapper {
  padding: 4%;
}

.auth-form-wrapper h1 {
  margin-bottom: 1%;
}

.auth-form-wrapper {
  width: 100%;
  margin-bottom: 40px;
}

.auth-form-wrapper .user-info-wrapper {
  padding: 5px 0;
}

.auth-form-wrapper .user-info-wrapper .identifier,
.email,
.password,
.username,
.lname,
.fname,
.phonenumber {
  margin-bottom: 30px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-size: inherit;
}

.auth-form-wrapper .auth-form-button-wrapper {
  margin-bottom: 10px;
  width: 100%;
}

.user-info-wrapper input {
  padding: 2%;
  background: #343434;
  color: white;
}

.signup {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* ------------------------ HOME PAGE NAVIGATION BAR ------------------------  */
.home-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 5%;
  background-color: #08051f;
  color: white;
}

.home-nav-title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
}

.home-nav-link-container {
  list-style: none;
  display: flex;
}

.duowings-nav-title:hover {
  cursor: pointer;
}

.home-nav-link-container li {
  margin: 0 10px;
}

.profile {
  display: flex;
  align-items: center;
  cursor: pointer;
  @media screen and (max-width: 550px) {
    .profile-user-greeting {
      display: none;
    }
  }
}

.profile-user-greeting {
  margin-left: 10px;
}

.active {
  color: white;
}

/* ------------------------ VOCAB PAGE ------------------------  */

.vocab-page-container {
  display: flex;
  margin: 0.5% 0.5% 0 0.5%;
  margin-right: 10%;
}

/* ------------------------ MENU PANEL (Decks, Stats ...)  ------------------------  */
.menu-panel-container {
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(10, 36, 57);
  border-radius: 5%;
  padding: 0.5% 2%;
  @media screen and (max-width: 1100px) {
    padding: 1%;
    .item-title {
      display: none;
    }
    .menu-item-wrapper {
      justify-content: center;
    }
  }
}

.menu-item-wrapper {
  display: flex;
  justify-content: flex-start;
}

.menu-panel-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.menu-panel-item .item-title {
  margin-left: 1rem;
}

/* ----------------------- ALL DECKS DECK PAGE DECK CARD OVERVIEWS  ------------------------  */

.all-decks-page-container {
  width: 100%;
  height: 100vh;
}

.all-decks-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.deck-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3%;
}

.all-deck-page-search-and-create-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.all-deck-page-search-container{
  display: flex;
  flex-direction: column;
  padding-bottom: 1%;
}

.all-decks-page-container-empty {
  width: max-content;
  margin: 25% auto 0 auto;
  font-size: 2rem;
}

.deck-card-overview-container {
  background-color: #08051f;
  border-radius: 15px;
  padding: 3%;
  margin: 3%;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-6px);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: -0.5px -0.5px 5px 0.5px white;
    cursor: pointer;
  }
}

.deck-card-overview-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.deck-card-overview-delete-icon {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.deck-card-overview-delete-icon:hover {
  color: red;
  transform: scale(1.4);
}


.deck-header-level-container {
  background-color: blue;
  padding: 1%;
}

.deck-page-create-deck-button{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 1%;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.deck-page-create-deck-button:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-6px);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    cursor: pointer;
}


/* ------------------------ STATS PAGE CONTAINER ------------------------  */
.stats-page-container {
  width: 100%;
  height: 100vh;
}

/* ------------------------ CREATE DECK MODAL (Modal component w/form)------------------------  */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.modal-content {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 1px 1px 12px 10px rgba(116, 116, 116, 0.8);
  width: 450px;
  max-width: 90%;
  margin: 0 auto;
  padding: 1%;
  position: relative;
}

.modal-form-container {
  display: flex;
  flex-direction: column;
}
/* Styles for the form title */
.modal-form-container h2 {
  font-size: 2rem;
  margin-bottom: 4%;
  text-align: center;
}

.modal-form-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.create-deck-modal-button-container {
  display: flex;
  justify-content: space-around
}

/* ------------------------ DECK PAGE (single deck with all the words) ------------------------  */

.deck-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.deck-page-deck-header {
  padding: 1%;
}


/* ------------------------ DECK PAGE WORDS TABLE  ------------------------  */

.word-table-container table {
  text-align: center;
  border-collapse: collapse;
  font-size: 0.65em; 
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.word-table-container input {
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid #000000;
  font-size: 2em;
  background-color: transparent;
  color: inherit; 
  width: calc(100% - 40px);
  box-sizing: border-box;
  padding: 2%;
}

.word-table-container textarea:nth-of-type(odd) {
  background: #08051f;
  color: white;
  border: none;
  padding: 2%;;
}

.word-table-container input:focus {
  outline: none; 
}

.word-table-container thead tr {
  background-color: #004998;
  color: #ffffff;
}

.word-table-container th,
.word-table-container td {
  padding: 20px 25px;
  text-align: center;
}

.word-table-container tbody tr {
  border-bottom: 1px solid #ffffff;
}

.word-table-container tbody tr:nth-of-type(even) {
  background-color: rgb(12, 43, 80);
}


.word-table-container tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.word-table-container tbody tr:hover {
  background-color: rgb(248, 131, 131);
  cursor: pointer;
  color: black;
}

.delete-word-icon, .update-word-icon {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.delete-word-icon:hover, .update-word-icon:hover {
  transform: scale(1.4);
}

/* ------------------------ DECK PAGE CREATE NEW WORD FORM AND ACTION BUTTONS ------------------------  */

.create-new-word-container {
  position: relative;
  display: flex;
}

.deck-page-loading-create-word-form-container{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.create-new-word-input {
  background: #08051f;
  display: block;
  height: 40px;
  width: 250px;
  font-size: inherit;
  border: none ;
  padding: 25px; 
  color: white;;
  transition: width 0.3s ease-in-out;
}

.create-new-word-input:focus{
  width: 350px;
}

.create-word-loading-spinner-container{
  height: 100px;
  padding: 25px;
}

.create-new-word-container button {
  position: absolute;
  right: 0;
  top: 5px;
  height: 38px;
  background: #08051f;
  border-radius: 0;
  border: none;
  &:hover {
    background: #08051f;
  }
}

.deck-button-options-panel{
  display: flex;
  width: 35%;
  padding: 1%;
  justify-content: space-around;
}

.deck-page-action-button{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: .5%;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.deck-page-action-button:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-6px);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    cursor: pointer;
}


/* ------------------------------------ FLASHCARD PAGE ------------------------------------ */


.flashcards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.flashcard-container {
  perspective: 1000px;
  width: 600px; 
  height: 400px;
  margin-bottom: 20px;
}

.navigation {
  margin-top: 20px; /* Adds space above the navigation buttons */
}

.flashcard {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.flashcard.flipped {
  transform: rotateX(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px; /* Adjust based on your preference */
  color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.front {
  background-color: #007bff; /* Adjust based on your preference */
}

.back {
  background-color: #28a745; /* Adjust based on your preference */
  transform: rotateX(180deg);
}

.navigation button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navigation button:hover {
  background-color: #0056b3;
}




/* ------------------------ NOT FOUND PAGE ------------------------  */

.not-found-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
  width: 100%;
  text-align: center;
}
