@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Syne+Mono&display=swap");

body {
  font-family: "Lato", sans-serif;
  background-color: rgb(6, 22, 41);
  color: whitesmoke;
  font-size: 1.3rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: rgb(73, 127, 215);
  text-decoration: none;
}

/* ------------------------ LANDING PAGE ---------------------  */
.landing-page {
  padding: 1% 2%;
  height: 100vh;
}

.landing-page h1 {
  font-size: 3.25rem;
}

.landing-page h1:hover {
  cursor: pointer;
}

.landing-page header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.call-to-action {
  margin: 2%;
  max-width: 50%;
}

.section-1 {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

/* ------------------------ LOGIN AND REGISTER PAGE ------------------------ */

.auth-site-title {
  padding: 1%;
  cursor: pointer;
}

/* ------------------------ LOGIN AND REGISTER AUTH FORMS ------------------------ */
.auth-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2%;
  cursor: pointer;
  font-size: 2.5rem;
}

.auth-form-container {
  width: 450px;
  background: rgba(0, 0, 0, 0.2);
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 60px 65px;
}

.auth-form-wrapper {
  padding: 4%;
}

.auth-form-wrapper h1 {
  margin-bottom: 1%;
}

.auth-form-wrapper {
  width: 100%;
  margin-bottom: 40px;
}

.auth-form-wrapper .user-info-wrapper {
  padding: 5px 0;
}

.auth-form-wrapper .user-info-wrapper .email,
.password,
.username,
.lname,
.fname,
.phonenumber {
  margin-bottom: 30px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-size: inherit;
}

.auth-form-wrapper .auth-form-button-wrapper {
  margin-bottom: 10px;
  width: 100%;
}

.user-info-wrapper input {
  padding: 2%;
  background: #343434;
  color: white;
}

.signup {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* ------------------------ HOME PAGE NAVIGATION BAR ------------------------  */
.home-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1b1b1b;
  color: white;
}

.home-nav-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
}

.home-nav-link-container {
  list-style: none;
  display: flex;
}

.duowings-nav-title:hover {
  cursor: pointer;
}

.home-nav-link-container li {
  margin: 0 10px;
}

.profile {
  display: flex;
  align-items: center;
  cursor: pointer;
  @media screen and (max-width: 550px) {
    .profile-user-greeting {
      display: none;
    }
  }
}

.profile-user-greeting {
  margin-left: 10px;
}

.active {
  color: white;
}

/* ------------------------ VOCAB PAGE ------------------------  */

.vocab-page-container {
  display: flex;
  margin: 0.5% 0.5% 0 0.5%;
  margin-right: 10%;
}

/* ------------------------ MENU PANEL (left menu component of grid)  ------------------------  */
.menu-panel-container {
  height: max-content;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(10, 36, 57);
  border-radius: 5%;
  margin-right: 1%;
  @media screen and (max-width: 1100px) {
    padding: 0;
    .item-title {
      display: none;
    }
    .menu-item-wrapper {
      justify-content: center;
    }
  }
}

.menu-item-wrapper {
  display: flex;
  justify-content: flex-start;
}

.menu-panel-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.menu-panel-item .item-title {
  margin-left: 1rem;
}

/* ------------------------ DECK PAGE (Right section of grid) ------------------------  */

.deck-page-container {
  text-align: center;
  width: 100%;
}

.deck-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minMax(375px, 1fr));
  padding: 3%;
}

.deck-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3%;
}

.deck-page-search-wrapper {
  display: flex;
  justify-content: center;
}

.deck-page-container-empty {
  text-align: center;
  width: 100%;
  margin-top: 10%;
}

/* Deck.css */
.deck-card {
  background-color: #000000;
  border-radius: 5px;
  border-radius: 5%;
  padding: 16px;
  margin: 16px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
  }
}

.deck-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.level {
  background-color: #007bff;
  color: #fff;
  padding: 4px 8px;
  border-radius: 3px;
}

.deck-details {
  margin-top: 8px;
}

/* ------------------------ STATS PAGE (Right section of grid) ------------------------  */
.stats-page-container {
  text-align: center;
  width: 100%;
}

/* ------------------------ CREATE DECK COMPONENT ------------------------  */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}

.close-modal-button {
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.bottom-right-button-create-deck-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
