/* NavigationBar.css */

.duowings-nav-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.duowings-nav-title:hover {
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Adjust padding as needed */
  background-color: #1b1b1b; /* Set background color */
  color: white;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px; /* Adjust spacing between links */
}

.profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

a {
  color: rgb(73, 127, 215);
}
